#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  gap: 1rem;
}
.inputField{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}
.functionButton{
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #aaa;
  background-color: inherit;
  color: inherit;
}

.backSpace{
  grid-column: span 2;
}

.reset{
  grid-column: span 1;
}

.valid{
  color: green;
}
.inValid{
  color: red;
}

.validator{
  margin-top: 1rem;
  font-weight: bold;
}
